body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.blockcontent{
  word-wrap: break-word;
}
.foot-space{
  margin-right: 20px;
}

.logo{
  font-family:   'Pacifico', cursive;
  font-weight: bold;
}
.cardspacing{
  margin: 50px 0;
}
.about-page{
  background: #efefef;
}
.my-content{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}
img{
  border-radius: 5px;
}
.disqus{
  margin-top: 50px;
}

