body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.blockcontent{
  word-wrap: break-word;
  margin-top: 20px;
}
.my-content{
  margin-top: 50px;
  padding: 10px;
}

.img-div{
  margin-bottom: 20px;
  background: black;
}
.foot-space{
  margin-right: 20px;
}

.logo{
  font-family:   'Pacifico', cursive;
  font-weight: bold;
}
.cardspacing{
  margin: 50px 0;
} 
.about-page{
  background: #efefef;
}
.empty-div{
  height: 50px;
  width: 100%;
}


.disqus{
  padding: 30px 50px;
} 

.card-container{
  display: inline-block;
  flex-wrap: wrap;
}

.card-wrapper{
  margin: 1rem;
  width: 370px;
  background: #efefef;
  padding: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

img{
  border-radius: 5px;
  max-width: 100%;
}

.img2{
  width: 100%;
}
@media(max-width: 373px){
  .card-wrapper{
    width: 250px;
  }
}